{% extends "template.html" %}
{% block conteudo %}
    <table class="table table-striped table-responsive table-bordered">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Cpf</th>
                <th>Logradouro</th>
                <th>Número</th>
                <th>Bairro</th>
                <th>Renda</th>
                <th>Score</th>
                <th>Crédito</th>
                <th>Edição</th>
            </tr>
        </thead>
        <tbody>
        {% for pessoa in pessoas %}
                        <tr>
                            <td>{{ pessoa.nome }}</td>
                            <td>{{ pessoa.cpf}}</td>
                            <td>{{ pessoa.logradouro}}</td>
                            <td>{{ pessoa.numero_logradouro}}</td>
                            <td>{{ pessoa.bairro}}</td>
                            <td>{{ pessoa.renda}}</td>
                            <td>{{ pessoa.score_pessoa}}</td>
                            <td>{{ pessoa.valor_credito}}</td>
                             <td>
                                <a href="{{ url_for('deletar', cpf=pessoa.cpf) }}">Deletar</a>
                            </td>


                        </tr>

        {% endfor %}
        </tbody>
    </table>
<form action="{{ url_for('novo') }}">
<button type="submit" class="btn btn-primary btn-salvar">Cadastrar Novo Cliente</button>
</form>
{% endblock %}