{% extends "template.html" %}
{% block conteudo %}

    <form action="{{ url_for('criar') }}" method="post" enctype="multipart/form-data">
        <fieldset>
          <div class="form-group col-md-6 required">
            <label for="nome">Nome Completo</label>
            <input type="text" id="nome" name="nome" class="form-control required" required placeholder="" onkeypress="return lettersOnly()">
          </div>
          <div class="form-group col-md-2 required" >
            <label for="cpf">CPF:</label>
            <input  type="text" id="cpf" name="cpf"  class="form-control required" required placeholder="Apenas Números" pattern="\d*" maxlength="11" data-toggle="tooltip" title="Informar apenas número e sem o ponto!">
          </div>
          <div class="form-group col-md-2">
            <label for="renda">Renda:</label>
            <input  type="text" id="renda" name="renda" class="form-control" required placeholder="" pattern="[0-9]{0,10}[,]{1,1}[0-9]{0,4}" data-toggle="tooltip" title="Informar apenas número seprado por ,">
          </div>
           <div class="form-group col-md-6">
            <label for="logradouro">Endereço:</label>
            <input type="text" id="logradouro" name="logradouro" class="form-control">
          </div>
           <div class="form-group col-md-2">
            <label for="numero">Numero:</label>
            <input type="text" id="numero" name="numero" class="form-control" onkeypress="return onlynumber()">
          </div>
            <div class="form-group col-md-2">
            <label for="bairro">Bairro:</label>
            <input type="text" id="bairro" name="bairro" class="form-control">
          </div>
            <br></br><br></br><br></br><br></br>
            <button type="submit" class="btn btn-primary btn-salvar btn-sm">Salvar</button>
            <a class="btn btn-primary btn-salvar btn-sm" href="{{url_for('index')}}" >Cancelar</a>
        </fieldset>
    </form>
{% endblock %}